.content-title{
    max-width: 60vw;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.content-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 60%;
    height: 50px;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    border: solid 2px #2251f9;
    border-radius: 10px;
    background-color: #ddd9ce;
    margin-bottom: 10px;
    transition: all ease 0.2s;
}

.button:hover{
    background-color: lightgray;
}