.content-title{
    max-width: 60vw;
    background-color: #fff;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.content-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 60%;
    height: 50px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    background-color: violet;

    margin-bottom: 10px;
}

.correctAnswer {
    background-color: yellowgreen;
}