.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(70,133,189,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container{
    width: 30%;
    height: 30%;
    background-color: #fff;
    color: #111;
    box-shadow: 3px 3px rgb(168, 168, 168);
}

.modal-buttons{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.continue{
    color: #2251f9;
    margin-bottom: 5px;
}

.button-start, .button-cancel {
    background-color: #fff;
    color: #2251f9;
    border: solid 2px #2251f9;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-size: 15px;
    margin-right: 10px;
    transition: all ease 0.2s;
}
.button-start:hover, .button-cancel:hover {
    background-color: lightgray;
}


@media (max-width: 760px) {

    .modal{
        z-index: 100;
    }
    .modal-container {
        width: 90%;
    }
    .modal-close{
        right: calc(-100% + 45px);
    }
}